.keyboard-block {
    flex-basis: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
}
.buttons-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: stretch;
    justify-content: stretch;
}