<div class="keyboard-block">

    <div class="buttons-column" *ngFor="let column of Buttons; last as isLast; first as isFirst">

        <app-keyboard-button
            *ngIf="isFirst"
            style="flex-grow: 1"
            [button]="cancel"
            (click)="Reset()">
        </app-keyboard-button>

        <ng-container *ngFor="let action of column">
            <app-keyboard-button style="flex-grow: 1" [button]="action"></app-keyboard-button>
        </ng-container>

        <app-keyboard-button
          *ngIf="isLast"
          style="flex-grow: 1"
          [button]="result"
          (click)="Execute()">
        </app-keyboard-button>

    </div>

</div>
