.button-container {
    background-color: transparent;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.button-container:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    cursor: pointer;
}
.button-container:active {
    background-color: rgba($color: #ffffff, $alpha: 1);
    color: rgba(36, 72, 132, 1);
}
@media screen and (max-width: 425px) {

    .button-container {
        font-size: 30px;
    }

}
