.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.calculator-shadow {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}
.calculator-main {
    width: 600px;
    height: 100%;
    background: linear-gradient(180deg, rgba(36, 72, 132, 1) 0%, rgba(47, 101, 189, 1) 100%);
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 650px) {
    .calculator-main {
        width: auto;
    }
    .container {
        justify-content: stretch;
        align-items: stretch;
    }
}
app-input-block {
    display: flex;
    flex-grow: 0;
    flex-basis: 30%;
}
app-keyboard-block {
    display: flex;
    flex-grow: 0;
    flex-basis: 70%;
}
.blocks-divider {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    border: 0;
    height: 2px;
}
