<div class="container">

    <div class="calculator-shadow">
        <div class="calculator-main">

            <app-input-block></app-input-block>
            <hr class="blocks-divider">
            <app-keyboard-block></app-keyboard-block>

        </div>
    </div>

</div>

