.input-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.expression, .result, .history {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 70px;
    padding-bottom: 15px;
    flex-shrink: 1;
    word-break: break-all;
}
.result {
    font-size: 50px;
}
.expression {
    font-size: 30px;
    flex-basis: 30%;
}
.history {
    flex-basis: 20%;
}
