<div class="input-block">
    <div class="history">
<!--        <span *ngFor="let history of History | async">{{ history }}</span>-->
        <span>{{ History | async }}</span>
    </div>
    <div class="expression" >
            {{ InputValue }}
    </div>
    <div class="result">
        {{ Result | async }}
    </div>
</div>
