/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: roboto;
    src: url(assets/font/RobotoSlab-Regular.ttf);
}
body, html {
    width: 100% !important; 
    height: 100% !important;
    padding: 0;
    margin: 0;
    color: white;
    font-family: roboto;
    font-smooth: always;
}
body {
    background: linear-gradient(90deg, rgba(255, 151, 151, 1) 0%, rgba(244, 107, 107, 1) 100%);
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
  